@import url('/static/css/roboto-font.css'); 

body{
    background-color: black;
    width: 100%;
}
th{
    color: #08CCF6;
    font-family: Roboto-thin;
    font-size: 36px;
}

td{
    padding-left : 11px;
    padding-right: 11px;
}

tr{
    margin-top:-10px;
}

.center {
    margin: auto;
    width: 98%;
    padding: 1px;
  }

.calendar{
    cursor: pointer;
    max-width: 1080;
    max-height: 1920;
    border-collapse: collapse;
}
.header{
    color: #08CCF6;
    font-family: Roboto-thin;
    font-size: 40px;
}


.ldBar path.mainline{
    stroke-width: 10;
    stroke-linecap: round;
}
.ldBar path.baseline {
    stroke-width: 10;
    stroke: rgb(39, 38, 38);
    stroke-linecap: round;
}