@import url('/static/css/roboto-font.css'); 

body{
    background-color: black;
    width: 100%;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

.calendar {
    cursor: pointer;
    max-width: 1080;
    max-height: 1920;
    border-collapse: collapse;
}

th{
    color: #08CCF6;
    font-family: Roboto-thin;
    font-size: 36px;
}

td{
    padding-left : 11px;
    padding-right: 11px;
}

tr{
    margin-top:-10px;
}
