<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Habit Calendar</title>
    <link href="{{url_for('static',filename = 'css/star-style.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename = 'css/calendar-style.css')}}" rel="stylesheet">

    <link href="{{url_for('static',filename = 'css/loading-bar.css')}}" rel="stylesheet">

    <link rel="icon" href="{{url_for('static',filename = 'assets/favicon.PNG')}}" sizes="16x16">

    <script type="text/javascript" src="{{url_for('static',filename = 'js/moment.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename = 'js/calendar.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename = 'js/loading-bar.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename = 'js/task-count.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename = 'js/jquery-3.2.1.min.js')}}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            year = 2020;//parseInt({{ settings[0][1] }});

            var req = "/calander_data?name=yolo";
            $.get(req, function (data, status) {
                fillCal(data, year);
            });


        }, false);



        i = 0;
        total = 10;
        function back() {
            removeCount(i, 10);
        }
        function next() {
            addCount(i, 10);
        }

    </script>
</head>

<body>
    {{settings}}
    <div class="header" style="width:100%">
        <img src="/static/assets/Back Arrow.png" id="left_btn" style="display: inline" onclick="back()">
        <H1 style="display: inline">Good Habits</H1>

        <div class="prog-body">
            <div id="prog" class="ldBar label-center" data-preset="circle" data-stroke="#08CCF6">
                <div class="prog-text" id='prog-text-val'>0/10</div>
            </div>
            <!-- <div class="prog-text" id='prog-text-val'>0/10</div> -->
        </div>

        <img src="/static/assets/Back Arrow.png" style="transform: rotate(180deg); display: inline" id="right_btn"
            onclick="next()">
    </div>
    <div class="calendar center">
        <table id="calender-table">

        </table>
    </div>

</body>

</html>