<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Habit Calendar</title>
    <link href="{{url_for('static',filename = 'css/header-style.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename = 'css/star-style.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename = 'css/calendar-style.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename = 'css/settings-style.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename = 'css/loading-bar.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename = 'css/modal-style.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename = 'css/keyboard-dark.css')}}" rel="stylesheet">

    

    <link rel="icon" href="{{url_for('static',filename = 'assets/favicon.PNG')}}" sizes="16x16">

    <script type="text/javascript" src="{{url_for('static',filename = 'js/moment.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename = 'js/calendar.js')}}"></script>

    <script type="text/javascript" src="{{url_for('static',filename = 'js/progressbar.js')}}"></script>


    <script type="text/javascript" src="{{url_for('static',filename = 'js/jquery-3.2.1.min.js')}}"></script>
    
    <script type="text/javascript" src="{{url_for('static',filename = 'js/jquery.keyboard.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename = 'js/jquery.keyboard.extension-typing.min.js')}}"></script>
    <script>
        calanders        = {{tasks|safe}};
        year             = parseInt({{ settings[0][1] }});
        num_calanders    = calanders.length;
        current_calander = parseInt({{current_cal}});

        document.addEventListener('DOMContentLoaded', function () {
            
            if(current_calander === num_calanders){
                document.getElementById("calender-table").style.display ='none';
                document.getElementById("subtitle").innerHTML = "";

                document.getElementById('settings-form').style.display ='block'
            }
            else {
                populateCalander(calanders[current_calander]);
                document.getElementById("subtitle").innerHTML = calanders[current_calander];   
                document.getElementById('settings-form').style.display ='none'
                console.log(num_calanders);
            }

        }, false);


        function populateCalander(calander_name) {
            var req = "/calander_data?name=" + calander_name;
            $.get(req, function (data, status) {
                fillCal(data, year);
                CountTask();
            });
        }
        function back(){
            console.log(current_calander);
            if(current_calander > 0){   
                document.getElementById("calender-table").style.display ='table-row';
                current_calander = current_calander - 1;
                populateCalander(calanders[current_calander]);
                document.getElementById("subtitle").innerHTML = calanders[current_calander];

                document.getElementById('settings-form').style.display ='none'
            }
            else if(current_calander === 0){
                current_calander = current_calander - 1;
                document.getElementById("calender-table").style.display ='none';
                document.getElementById("subtitle").innerHTML = "";

                document.getElementById('settings-form').style.display ='block'
            }
            else {
                current_calander = 2;
                document.getElementById("calender-table").style.display ='table-row';
                populateCalander(calanders[current_calander]);
                document.getElementById("subtitle").innerHTML = calanders[current_calander];

                document.getElementById('settings-form').style.display ='none'
            }
            
        }

        function next(){
            console.log(current_calander);
            if(current_calander < num_calanders-1){
                    document.getElementById("calender-table").style.display ='table-row';
                    current_calander = current_calander + 1;
                    populateCalander(calanders[current_calander]);
                    document.getElementById("subtitle").innerHTML = calanders[current_calander];

                    document.getElementById('settings-form').style.display ='none'
                }
            else if(current_calander === num_calanders-1){ 
                    current_calander = current_calander + 1;
                    document.getElementById("calender-table").style.display ='none';
                    document.getElementById("subtitle").innerHTML = "";

                    document.getElementById('settings-form').style.display ='block'
                }
            else {
                console.log("reset")
                current_calander = 0;
                document.getElementById("calender-table").style.display ='table-row';
                populateCalander(calanders[current_calander]);
                document.getElementById("subtitle").innerHTML = calanders[current_calander];

                document.getElementById('settings-form').style.display ='none'
            }
            
        }   
    </script>
</head>

<body>

    <div class="header" style="width:1080px">
        <img class="left" src="/static/assets/Back Arrow.png" id="left_btn" onclick="back()">

        <div class="c_enter" style="height: 50px;margin-bottom: 80px;">
            <H1 class='in_text' style="height: 30px;margin-top: 0px;margin-bottom: 0px;">Good Habits</H1>
            <H3 id="subtitle" class='in_text' style="height: 30px;margin-top: 50px; margin-bottom:50px;"> title</H3>
        </div>

        <div class="circle" >
            <div id="container"></div>
        </div>

        <img class="right" src="/static/assets/Back Arrow.png" style="transform: rotate(180deg);" id="right_btn"
            onclick="next()">
    </div>

    <div class="calendar center">
        <table id="calender-table">

        </table>
    </div>

    <div id="settings-form" class="setting-cls">
    
        {% for item in tasks %}
        <div class="menu-box" >
            <div class="leftof-menu">
                <img class ='menu-img' src='/static/assets/Habit-up-arrow.png' value ="{{item}}" id="{{item}}" >
                <div class="menu-text"> {{item}}</div>
            </div>
            <div class='rightof-menu'>
                <button id ='task-del' class="del-btn" value="{{item}}" >Delete</button>
            </div>
        </div>
        {% endfor %}

        <div class="menu-box" >
            <div class="leftof-menu">
                <img class ='menu-img' src='/static/assets/Habit-up-arrow.png' >
                <div class="menu-text"> Display On</div>
                <input id ='disp_on_time' class="menu-input"  type="time"  value="{{settings[1][1]}}"> 
            </div>
            <div class='rightof-menu'>
                <button id ='disp_on' class="update-btn" onclick="changeDisplayOn()">Update</button>
            </div>
        </div>

        <div class="menu-box" >
            <div class="leftof-menu">
                <img class ='menu-img' src='/static/assets/Habit-up-arrow.png' >
                <div class="menu-text"> Display Off</div>
                <input id ='disp_off_time' class="menu-input"  type="time"  value="{{settings[2][1]}}"> 

            </div>
            <div class='rightof-menu'>
                <button id ='disp_off' class="update-btn" onclick="changeDisplayOff()">Update</button>
            </div>
        </div>
        

        <button id="new-habit-modal" class="menu-box">New Habit</button>

    </div>

    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">

          <div class="modal-body out">
                <input  class= "text-box in" type="text" id="keyboard" placeholder="Enter New Task"> <br>
                <button class="save-btn in" onclick="exitModal()" >cancel</button>
                <button class="save-btn in" onclick="saveTask()" >Save</button>
          </div>

        </div>
      </div>

    <script type="text/javascript" src="{{url_for('static',filename = 'js/onscreen-keyboard.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename = 'js/task-count.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename = 'js/settings-control.js')}}"></script>
</body>

</html>